<div class="container">
    {{!-- <form class="add">
        <input type="text" name="newEntry" placeholder="">
        <button type="submit">Add</button>
    </form> --}}
    <div class="col">
        <form class="add">
            <div class="input-group">
                <textarea type="text" class="form-control add" name="newEntry" placeholder="Add new notes here..."></textarea>
                <input class="btn btn-warning float-right" type="submit">
            </div>
        </form>
    </div>
</div>
<div class="container" id="noteContainer">
    <div class="accordion col" id="noteGroup">
        {{#each data as |value key|}}
        <div class="card">
            <div class="card-header" id="heading{{key}}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="false" aria-controls="collapse{{key}}">
                        {{value}}
                    </button>
                    <button type="button" index="{{key}}"class="del btn btn-warning float-right">Delete</button>
                </h5>
            </div>
            <div id="collapse{{key}}" class="collapse" aria-labelledby="heading{{key}}" data-parent="#noteGroup">
                <form class="put">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Change here</span>
                        </div>
                        <textarea type="text" class="form-control" index="{{key}}" name="putEntry" aria-label="With textarea" aria-describedby="" placeholder="{{value}}">{{value}}</textarea>
                        <input type="submit">
                    </div>
                </form>
            </div>
        </div>
        {{/each }}
    </div>
</div>